<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007bff;">
  <a class="navbar-brand" href="/" style="color: #ffffff; font-weight: bold;">CarManager App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/list" style="color: #ffffff;">Vehicle List</a>
      <a class="nav-item nav-link" href="/team" style="color: #ffffff;">Service Team</a>
      <a class="nav-item nav-link" href="/missions" style="color: #ffffff;">Missions</a>
    </div>
    <a class="cta-button" href="/logout">Logout</a>
  </div>
</nav>
